[submodule "external/src/charm"]
	path = external/src/charm
	url = https://github.com/UIUC-PPL/charm.git
[submodule "external/src/trilinos"]
	path = external/src/trilinos
	url = https://github.com/trilinos/Trilinos.git
[submodule "external/src/hdf5"]
	path = external/src/hdf5
	url = https://github.com/live-clones/hdf5.git
[submodule "external/src/netcdf"]
	path = external/src/netcdf
	url = https://github.com/Unidata/netcdf-c.git
